{{col | json }}
<div class = "container">
    <div class = "collegue">
        <div class = "col-3 photo-collegue">
            img src = "{{col.photoUr1}}" alt =  "photo du collegue"
        </div>
        <div class = "col-9">
            <ul>
                <Li>Matricule : {{col.matricule}}</Li>
                <Li>Nom: {{col.nom}}</Li>
                <Li>Prenoms: {{col.prenoms}}</Li>
                <Li>Email: {{col.email}}</Li>
                <Li>Date de naissance: {{col.dateDeNaissance}} </Li>
            </ul>
        </div>
    </div>
</div>